In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import squarify

## Scrape nominees from Emmy's webpage

### 2020 Data

In [2]:
url3 = 'https://www.emmys.com/awards/nominees-winners'
html3 = requests.get(url3)
soup3 = BeautifulSoup(html3.content, 'lxml')

In [3]:
award_titles_container = soup3.find('div', class_ = 'section-content item-list pt-3 row')

In [4]:
titles = award_titles_container.findAll('h5', class_ = 'mb-1')

In [5]:
nominated_shows = []
for tag in titles[:7]:
    nominated_shows.append(tag.text.strip())
#nominated_shows

In [6]:
show_names_for_actors = award_titles_container.findAll('div', class_ = 'p1 show-title')
#show_names_for_actors

In [7]:
shows_nominated_actors = []
for tag in show_names_for_actors:
    shows_nominated_actors.append(tag.text.strip())
#shows_nominated_actors

In [8]:
url4 = 'https://www.emmys.com/awards/nominees-winners?page=1'
html4 = requests.get(url4)
soup4 = BeautifulSoup(html4.content, 'lxml')
#soup

In [9]:
award_titles_container2 = soup4.find('div', class_ = 'section-content item-list pt-3 row')
#award_titles_container2

In [10]:
titles2 = award_titles_container2.findAll('h5', class_ = 'mb-1')
#titles2

In [11]:
for tag in titles2[5:28]:
    nominated_shows.append(tag.text.strip())
#nominated_shows

In [12]:
show_names_for_actors2 = award_titles_container2.findAll('div', class_ = 'p1 show-title')

In [13]:
for tag in show_names_for_actors2:
    shows_nominated_actors.append(tag.text.strip())

In [14]:
url5 = 'https://www.emmys.com/awards/nominees-winners?page=2'
html5 = requests.get(url5)
soup5 = BeautifulSoup(html5.content, 'lxml')

In [15]:
award_titles_container3 = soup5.find('div', class_ = 'section-content item-list pt-3 row')

In [16]:
titles3 = award_titles_container3.findAll('h5', class_ = 'mb-1')

In [17]:
shows_nominated_actors3 = soup5.findAll('div', class_ = 'p1 show-title')

In [18]:
for tag in shows_nominated_actors3[:-1]:
    shows_nominated_actors.append(tag.text.strip())
#shows_nominated_actors

In [19]:
nominated_shows_dict = dict((x,nominated_shows.count(x)) for x in nominated_shows)

In [20]:
#nominated_shows_dict

In [21]:
df = pd.DataFrame.from_dict(nominated_shows_dict, 'index')
df.columns = ['Nominations']
len(df)

21

In [22]:
actor_show_noms = dict((x,shows_nominated_actors.count(x)) for x in shows_nominated_actors)
#actor_show_noms

In [23]:
df2 = pd.DataFrame.from_dict(actor_show_noms,'index')
df2.columns = ['Actor Nominations']
#df2.head()

In [24]:
joined_df = df.join(df2,how = 'outer')
joined_df.fillna(0, inplace=True)
#joined_df

In [25]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, A Black Lady Sketch Show to black-ish
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nominations        39 non-null     float64
 1   Actor Nominations  39 non-null     float64
dtypes: float64(2)
memory usage: 936.0+ bytes

In [26]:
#joined_df

In [27]:
joined_df['Award Year'] = '2020'

In [28]:
#joined_df

### 2019 Data

In [29]:
url2019 = 'https://www.emmys.com/awards/nominees-winners/2019'
html2019 = requests.get(url2019)
soup2019 = BeautifulSoup(html2019.content, 'lxml')

In [30]:
award_titles_container2019 = soup2019.find('div', class_ = 'section-content item-list pt-3 row')

In [31]:
titles2019 = award_titles_container2019.findAll('h5', class_ = 'mb-1')

In [32]:
shows2019 = []
for tag in titles2019[:7]:
    shows2019.append(tag.text.strip())

show_names_for_actors2019 = award_titles_container2019.findAll('div', class_ = 'p1 show-title')

shows_nominated_actors2019 = []
for tag in show_names_for_actors2019:
    shows_nominated_actors2019.append(tag.text.strip())

In [33]:
url2019_1 = 'https://www.emmys.com/awards/nominees-winners/2019?page=1'
html2019_1 = requests.get(url2019_1)
soup2019_1 = BeautifulSoup(html2019_1.content, 'lxml')

In [34]:
award_titles_container2019_1 = soup2019_1.find('div', class_ = 'section-content item-list pt-3 row')

titles2019_1 = award_titles_container2019_1.findAll('h5', class_ = 'mb-1')

for tag in titles2019_1[6:27]:
    shows2019.append(tag.text.strip())

show_names_for_actors2019_1 = award_titles_container2019_1.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2019_1:
    shows_nominated_actors2019.append(tag.text.strip())

In [35]:
url2019_2 = 'https://www.emmys.com/awards/nominees-winners/2019?page=2'
html2019_2 = requests.get(url2019_2)
soup2019_2 = BeautifulSoup(html2019_2.content, 'lxml')

In [36]:
award_titles_container2019_2 = soup2019_2.find('div', class_ = 'section-content item-list pt-3 row')

titles2019_2 = award_titles_container2019_2.findAll('h5', class_ = 'mb-1')

show_names_for_actors2019_2 = award_titles_container2019_2.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2019_2[:13]:
    shows_nominated_actors2019.append(tag.text.strip())

In [37]:
actor_show_noms2019 = dict((x, shows_nominated_actors2019.count(x)) for x in shows_nominated_actors2019)
#actor_show_noms2019

In [38]:
nominated_shows2019 = dict((x,shows2019.count(x)) for x in shows2019)

In [39]:
df2019 = pd.DataFrame.from_dict(nominated_shows2019, 'index')
df2019.columns = ['Nominations']

In [40]:
df2019_actors = pd.DataFrame.from_dict(actor_show_noms2019,'index')
df2019_actors.columns = ['Actor Nominations']

In [41]:
joined_df_2019 = df2019.join(df2019_actors, how='outer')
joined_df_2019.head(3)

                  Nominations  Actor Nominations
Barry                     4.0                5.0
Better Call Saul          1.0                3.0
Black Monday              NaN                1.0

In [42]:
joined_df_2019['Award Year'] = '2019'

### 2018 Data

In [43]:
url2018 = 'https://www.emmys.com/awards/nominees-winners/2018'
html2018 = requests.get(url2018)
soup2018 = BeautifulSoup(html2018.content, 'lxml')

In [44]:
award_titles_container2018 = soup2018.find('div', class_ = 'section-content item-list pt-3 row')

titles2018 = award_titles_container2018.findAll('h5', class_ = 'mb-1')

show_names_for_actors2018 = award_titles_container2018.findAll('div', class_ = 'p1 show-title')

In [45]:
shows2018 =  []
shows_nominated_actors2018 = []

for tag in titles2018[:8]:
    shows2018.append(tag.text.strip())

show_names_for_actors2018 = award_titles_container2018.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2018:
    shows_nominated_actors2018.append(tag.text.strip())

In [46]:
url2018_1 = 'https://www.emmys.com/awards/nominees-winners/2018?page=1'
html2018_1 = requests.get(url2018_1)
soup2018_1 = BeautifulSoup(html2018_1.content, 'lxml')

In [47]:
award_titles_container2018_1 = soup2018_1.find('div', class_ = 'section-content item-list pt-3 row')

titles2018_1 = award_titles_container2018_1.findAll('h5', class_ = 'mb-1')

show_names_for_actors2018_1 = award_titles_container2018_1.findAll('div', class_ = 'p1 show-title')

In [48]:
for tag in titles2018_1[6:-12]:
    shows2018.append(tag.text.strip())

show_names_for_actors2018_1 = award_titles_container2018_1.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2018_1:
    shows_nominated_actors2018.append(tag.text.strip())

In [49]:
url2018_2 = 'https://www.emmys.com/awards/nominees-winners/2018?page=2'
html2018_2 = requests.get(url2018_2)
soup2018_2 = BeautifulSoup(html2018_2.content, 'lxml')

In [50]:
award_titles_container2018_2 = soup2018_2.find('div', class_ = 'section-content item-list pt-3 row')

show_names_for_actors2018_2 = award_titles_container2018_2.findAll('div', class_ = 'p1 show-title')

In [51]:
show_names_for_actors2018_2 = award_titles_container2018_2.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2018_2[:13]:
    shows_nominated_actors2018.append(tag.text.strip())

In [52]:
nominated_shows2018 = dict((x,shows2018.count(x)) for x in shows2018)
len(nominated_shows2018)

16

In [53]:
df2018 = pd.DataFrame.from_dict(nominated_shows2018, 'index')
df2018.columns = ['Nominations']
df2018.head()

                      Nominations
Atlanta                         5
Barry                           4
black-ish                       1
Curb Your Enthusiasm            1
GLOW                            2

In [54]:
shows_actors_nom2018 = dict((x, shows_nominated_actors2018.count(x)) for x in shows_nominated_actors2018)
len(shows_actors_nom2018)

29

In [55]:
df_2018_1 = pd.DataFrame.from_dict(shows_actors_nom2018, 'index')
df_2018_1.columns = ['Actor Nominations']

In [56]:
joined_df_2018 = df2018.join(df_2018_1,how='outer')
len(joined_df_2018)

31

In [57]:
joined_df_2018['Award Year'] = '2018'
joined_df_2018.head(2)

         Nominations  Actor Nominations Award Year
Atlanta          5.0                4.0       2018
Barry            4.0                2.0       2018

### 2017 Data

In [58]:
url2017 = 'https://www.emmys.com/awards/nominees-winners/2017'
html2017 = requests.get(url2017)
soup2017 = BeautifulSoup(html2017.content, 'lxml')

In [59]:
award_titles_container2017 = soup2017.find('div', class_ = 'section-content item-list pt-3 row')

titles2017 = award_titles_container2017.findAll('h5', class_ = 'mb-1')

show_names_for_actors2017 = award_titles_container2017.findAll('div', class_ = 'p1 show-title')

In [60]:
shows2017 =  []
shows_nominated_actors2017 = []

for tag in titles2017[:7]:
    shows2017.append(tag.text.strip())

show_names_for_actors2017 = award_titles_container2017.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2017:
    shows_nominated_actors2017.append(tag.text.strip())

In [61]:
url2017_1 = 'https://www.emmys.com/awards/nominees-winners/2017?page=1'
html2017_1 = requests.get(url2017_1)
soup2017_1 = BeautifulSoup(html2017_1.content, 'lxml')

In [62]:
award_titles_container2017_1 = soup2017_1.find('div', class_ = 'section-content item-list pt-3 row')

titles2017_1 = award_titles_container2017_1.findAll('h5', class_ = 'mb-1')

show_names_for_actors2017_1 = award_titles_container2017_1.findAll('div', class_ = 'p1 show-title')

In [63]:
for tag in titles2017_1[6:-13]:
    shows2017.append(tag.text.strip())

show_names_for_actors2017_1 = award_titles_container2017_1.findAll('div', class_ = 'p1 show-title')

for tag in show_names_for_actors2017_1:
    shows_nominated_actors2017.append(tag.text.strip())

In [64]:
url2017_2 = 'https://www.emmys.com/awards/nominees-winners/2017?page=2'
html2017_2 = requests.get(url2017_2)
soup2017_2 = BeautifulSoup(html2017_2.content, 'lxml')

In [65]:
award_titles_container2017_2 = soup2017_2.find('div', class_ = 'section-content item-list pt-3 row')

show_names_for_actors2017_2 = award_titles_container2017_2.findAll('div', class_ = 'p1 show-title')

In [66]:
for tag in show_names_for_actors2017:
    shows_nominated_actors2017.append(tag.text.strip())

In [67]:
nominated_shows2017 = dict((x, shows2017.count(x)) for x in shows2017)

In [68]:
shows_actor_noms2017 = dict((x, shows_nominated_actors2017.count(x)) for x in shows_nominated_actors2017)

In [69]:
df2017 = pd.DataFrame.from_dict(nominated_shows2017, 'index')
df2017.columns = ['Nominations']
df2017.head()

                Nominations
Atlanta                   4
black-ish                 1
Master Of None            2
Modern Family             1
Silicon Valley            4

In [70]:
df2017_1 = pd.DataFrame.from_dict(shows_actor_noms2017, 'index')
df2017_1.columns = ['Actor Nominations']
df2017_1.head()

                Actor Nominations
Atlanta                         2
Baskets                         4
black-ish                       5
Master Of None                  3
Shameless                       2

In [71]:
joined_df_2017 = df2017.join(df2017_1, how = 'outer')

In [72]:
joined_df_2017['Award Year'] = '2017'

### Pull Network for all four years

In [73]:
network = soup3.findAll('div', class_ = 'upper show-network mb-1')

In [74]:
network2 = soup4.findAll('div', class_ = 'upper show-network mb-1')

In [75]:
network3 = soup5.findAll('div', class_ = 'upper show-network mb-1')

In [76]:
networks = []
for tag in network:
    networks.append(tag.text.strip())

In [77]:
for tag in network2:
    networks.append(tag.text.strip())

In [78]:
for tag in network3[:-5]:
    networks.append(tag.text.strip())
#networks

In [79]:
network2019 = soup2019.findAll('div', class_ = 'upper show-network mb-1')
network2019_1 = soup2019_1.findAll('div', class_ = 'upper show-network mb-1')
network2019_2 = soup2019_2.findAll('div', class_ = 'upper show-network mb-1')

In [80]:
for tag in network2019:
    networks.append(tag.text.strip())

for tag in network2019_1:
    networks.append(tag.text.strip())

In [81]:
network2018 = soup2018.findAll('div', class_ = 'upper show-network mb-1')
network2018_1 = soup2018_1.findAll('div', class_ = 'upper show-network mb-1')

In [82]:
for tag in network2018:
    networks.append(tag.text.strip())

for tag in network2018_1:
    networks.append(tag.text.strip())

In [83]:
network2017 = soup2017.findAll('div', class_ = 'upper show-network mb-1')
network2017_1 = soup2017_1.findAll('div', class_ = 'upper show-network mb-1')

In [84]:
for tag in network2017:
    networks.append(tag.text.strip())

for tag in network2017_1:
    networks.append(tag.text.strip())

In [85]:
all_nominated_shows = nominated_shows + shows2019 + shows2018 + shows2017

#### Create Network/ Series DF
hoping that shows without a network (shows where only actors are nominated, not the show itself) can be filled in from other years

In [86]:
#check to be sure lists are same length before creating a dictionary
print(len(all_nominated_shows))
print(len(networks))

112
112

In [87]:
#create a dictionary
network_shows = dict(zip(all_nominated_shows, networks))

#dataframe from dictionary
network_df = pd.DataFrame.from_dict(network_shows,'index')
network_df.columns = ['Network']
network_df.head()

                      Network
Curb Your Enthusiasm      HBO
Dead To Me            Netflix
Insecure                  HBO
Schitt's Creek         Pop TV
The Good Place            NBC

### Combine 2017-2020 DFs

In [88]:
all_dfs = [joined_df, joined_df_2019, joined_df_2018, joined_df_2017]
combined_df = pd.concat(all_dfs)

#replace na with 0
combined_df.fillna('0', inplace=True)

#change to correct dtype
combined_df['Nominations']=combined_df['Nominations'].astype('int64')
combined_df['Actor Nominations']=combined_df['Actor Nominations'].astype('int64')

combined_df.head()

                          Nominations  Actor Nominations Award Year
A Black Lady Sketch Show            0                  1       2020
Bette Midler                        1                  0       2020
Better Call Saul                    1                  1       2020
Big Little Lies                     0                  2       2020
Black Mirror                        0                  1       2020

In [89]:
#find total nominations by summing actor and show
combined_df['Total Nominations'] = combined_df['Nominations'] + combined_df['Actor Nominations']
combined_df.head()

,Nominations,Actor Nominations,Award Year,Total Nominations
A Black Lady Sketch Show,0,1,2020,1
Bette Midler,1,0,2020,1
Better Call Saul,1,1,2020,2
Big Little Lies,0,2,2020,2
Black Mirror,0,1,2020,1

### Add Network to the joined DFs

In [90]:
awards_df = combined_df.join(network_df, how = 'left')
#drop any rows with no network info
awards_df['Network'].dropna(inplace=True)
#reorder columns
awards_df = awards_df[['Network', 'Award Year','Nominations', 
                       'Actor Nominations', 'Total Nominations']]
#awards_df.astype({'Nominations':'int64', 'Actor Nominations':'int64'})
awards_df

,Network,Award Year,Nominations,Actor Nominations,Total Nominations
A Black Lady Sketch Show,NaN,2020,0,1,1
Atlanta,FX Networks,2018,5,4,9
Atlanta,FX Networks,2017,4,2,6
Barry,HBO,2019,4,5,9
Barry,HBO,2018,4,2,6
...,...,...,...,...,...
Will & Grace,NBC,2018,0,2,2
black-ish,ABC,2020,0,2,2
black-ish,ABC,2019,0,1,1
black-ish,ABC,2018,1,3,4
black-ish,ABC,2017,1,5,6

### Save DataFrame as csv for easier use in other files

In [94]:
awards_df.to_csv('awards_df.csv',index=True, index_label='Titles')